body{
    display: flex;
    text-align: center;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

ul li{
    list-style: none;
}

.TheCV{
    display: grid;

}

.Educations{
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; /* Ensure at least viewport height */
    margin: 0;
}


footer {
padding: 10px;
text-align: center;
background-color: #333; 
color: #fff;
}

.Back{
    margin-left: auto;
}
