html{
    background: rgb(63,82,251);
    background: radial-gradient(circle, rgba(63,82,251,1) 0%, rgba(70,125,252,1) 100%); 
}

.TheCV{
    color: white;
    flex: 1;
}

.CV{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-basis: auto;
}

.Strengths ul{
    list-style: none;
}

.Information a :hover{
    columns: white;
}


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure at least viewport height */
    margin: 0;
  }


  footer {
    padding: 10px;
    text-align: center;
    background-color: #333; /* Customize as needed */
    color: #fff; /* Customize text color */
  }

.Back{
    margin-left: auto;
  
}




